<nav class="bg-white p-2 rounded-t-2xl my-2">
    <ul class="flex justify-around mb-2">
        <li><a [class.active]="option == 'about'" (click) = "option = 'about'">About</a></li>
        <li><a [class.active]="option == 'stats'" (click) = "option = 'stats'">Base Stats</a></li>
    </ul>
    <div [ngSwitch]="option">
        <section *ngSwitchCase="'about'">
            <h5 class="capitalize text-slate-500 font-semibold">Height : <i class="text-slate-900"> {{ pokemonDetails.height }}</i> </h5>
            <h5 class="capitalize text-slate-500 font-semibold">Weight : <i class="text-slate-900"> {{ pokemonDetails.weight }}</i> </h5> 
            <h5 class="capitalize text-slate-500 font-semibold">Abilities : <i class="text-slate-900" *ngFor="let abilite of pokemonDetails.abilities"> - {{ abilite }} </i> </h5>
       
        </section>
        <section *ngSwitchCase="'stats'">

            <div *ngFor="let stat of pokemonDetails.baseStatus" class="grid grid-cols-2">    
            <div class=" flex justify-between">
                <h5 class="text-slate-500 font-semibold text-left"> {{ stat.statName | titlecase}}:</h5>
                <p class="text-slate-900 mr-3">{{ stat.baseStatus }}</p>
            </div>
            <b> --------------- </b>
        </div>
        
        </section>
    </div>
</nav>