<main class="md:h-screen flex flex-col justify-between items-center relative"
*ngIf="(pokemonRequest  | async) as pokemonR">
<button (click)="decrementar()"  *ngIf="pokemonR.previousPage"
class=" bg-blue-500 hover:bg-blue-700 text-white font-bold mt-2 p-2 h-10 rounded flex items-center z-10">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
  </svg>
  <p class="text-xs font-semibold text-slate-50 uppercase">Previous</p>
 </button>
<section class="card-container overflow-auto">
        <ng-container *ngIf="pokemonR.details">
          <section *ngFor="let pokemon of pokemonR.details |async" class="card-item">
              <a class="grid grid-cols-2 p-2 shadow-md rounded-md m-3"
                routerLink="/pokemon/{{pokemon.id}}" [background]="pokemon.types[0]">
                  <div class="p-1">
                    <p class="text-xl font-bold text-slate-100">{{ pokemon.name | uppercase}}</p>
                      <div class="w-3/5 p-1 mt-1 text-center bg-slate-400 rounded-md" *ngFor="let type of pokemon.types">
                        <p class="text-xs font-semibold  text-slate-50 uppercase">{{ type }}</p>
                      </div>
                  </div>
                    <div>
                      <img src="{{ pokemon.sprites.artwork_default }}" alt="Imagem do {{ pokemon.name }}" class="w-24 drop-shadow-lg ">
                    </div>
              </a>
          </section>
        </ng-container>
</section>

 <button (click)="incrementar()" *ngIf="pokemonR.nextPage"
 class=" bg-blue-500 hover:bg-blue-700 text-white font-bold mb-5 p-2 h-10 rounded flex items-center z-10">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
  </svg>
  <p class="text-xs font-semibold  text-slate-50 uppercase">Next</p>
</button>
</main>
